.nav.nav-tabs {
    margin-bottom: 30px;
    background-color: rgb(57, 78, 90);
    border: none;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;



}

.nav-item h2 {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}